@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Nunito';
}

.output {
  background-color: #222;
  color: white;

  pre {
    white-space: pre-wrap;
  }
}

.button {
  transition: 0.1s transform ease-out;
  padding: 10px 12px;
  border-radius: 20px;
  background: #fffa;
  border: solid 2px #222;
  color: #222;
  display: flex;
  cursor: pointer;

  &:hover {
    // color: darkblue;
    border-color: darkblue;
    transform: scale(1.1);
  }

  &:active {
    background: #fff;
    transform: scale(1.2);
  }
}
