@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$ic-gradient: linear-gradient(
  to top,
  #f15a24 0%,
  #fbb03b 25%,
  #ed1e79 50%,
  #522785 75%,
  #f15a24 100%
);

$button-size: 44px;
$button-border-width: 3px;

$embed-button-color: #555360;

html,
body {
  font-family: 'Nunito';
}

.main-title {
  opacity: 0.8;

  &:hover {
    opacity: 0.9;
    color: transparent;
    // text-fill-color: transparent;
    background: $ic-gradient;
    background-clip: text;

    .hover-hide {
      display: none;
    }

    .hover-show {
      display: inline-block;
    }
  }

  .hover-hide {
    display: inline-block;
  }

  .hover-show {
    display: none;
  }
}

.output {
  background-color: #222;
  color: white;

  pre {
    white-space: pre-wrap;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button-wrapper {
  transition: 0.1s all ease-out;
  transition-property: transform background-color width height;
  padding: 2px;
  // background: #222;
  background: $embed-button-color;
  color: $embed-button-color;
  border-radius: 50%;
  cursor: pointer;
  width: $button-size;
  height: $button-size;

  // .emphasized {
  //   background: $ic-gradient;
  //   animation: wobble 1s ease-out;
  // }

  &:hover {
    // color: darkblue;
    // border-color: darkblue; // Fallback
    // border-color: $ic-gradient;
    // background: $ic-gradient;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.1);
    transition-duration: 0.05s;

    .button {
      background: white;
    }
  }

  .button {
    // padding: 10px 12px;
    background: rgba(255, 255, 255, 0.97);
    width: $button-size - $button-border-width * 2;
    height: $button-size - $button-border-width * 2;
    border-radius: 50%;
    // border: solid 2px #222;
  }
}

// ::selection {
//   background: #555;
// }
